.text-c-darkblue{
    color: #4A56CA;
}
.text-c-lightblue{
    color: #7885F9;
}
.text-c-green{
    color: #60D759;
}
.text-c-primary{
    color: #FE775A;
}
.bg-c-gray{
    background-color: #DEECF9;
}
.companies-root{
    height: 924px;
    overflow: hidden;
    /* z-index: -1000 */
}
.companies-root h2{
    font-size: 55px;
    line-height: 66px;
}
.work-experience{
    font-size: 16px;
    line-height: 150%;
    padding-top: 115px;
}
.line-height{
    line-height: 150%;

}
.companies-info{
    margin-top: 39px;
}
.companies-card{
    position: relative;
    height: 425px;
    width: 364px;
    border-radius: 19px;
    box-shadow: 0px 4px 20px rgba(74, 86, 196, 0.27);
    cursor: pointer;
}
.companies-card-img{
    position: relative;
    width: 364px;
    height: 154px;
  

    border-radius: 19px 19px 0px 0px;
}
.card-1 .companies-card-img{
    background: linear-gradient(90.23deg, #3CC74E 0.22%, rgba(60, 199, 78, 0.6622) 46.91%, rgba(38, 45, 115, 0) 99.82%);
    
}
.card-2 .companies-card-img{
    background: linear-gradient(90.23deg, #FE775A 0.22%, rgba(254, 119, 90, 0.6622) 46.91%, rgba(38, 45, 115, 0) 99.82%);
}
.card-3 .companies-card-img{
    background: linear-gradient(90.23deg, #262D73 0.22%, rgba(38, 45, 115, 0.662185) 46.91%, rgba(38, 45, 115, 0) 99.82%);
}
.work-date-section{
    position: relative;
}
.companies-card-img p{
    position: relative;
    font-size: 100px;
    margin: 0; 
    padding: 0;
    left: 50px;
    color: white;
    font-weight: 700;
}
.companies-card-img small{
    position: absolute;
    bottom: 65px;
    left: 40px;
    padding: 0px 25px;
    
    color: white;

}
.medium-bold{
    font-weight: 700;
}
.companies-card h5{
    font-size: 24px;
    font-weight: 400;
    line-height: 33.8px;
}
.companies-card span{
    font-weight: 700;
}
.card-1 .companies-card{
    border: 2px solid #60D759;
}
.card-2 .companies-card{
    border: 2px solid #FE775A;
}
.card-3 .companies-card{
    border: 2px solid #7885F9;
}
.card-1 .company-date, .card-1 .view-my-roll{
    background-color: #60D759;
}
.card-2 .company-date, .card-2 .view-my-roll{
    background-color: #FE775A;
}
.card-3 .company-date, .card-3 .view-my-roll{
    background-color:#4A56C4;
}
.view-my-roll{
    
    border: 0px solid white;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    position: absolute;
    bottom: 32px;
}