.new{
    background-color: #FE775A;
    border-radius: 5px;
    border: 0px solid white;
    color: white;
}
.btn-c-primary-outline{
    background-color: white;
    margin-right: 40px;
    border-radius: 5px;
    border: 2px solid black;
}
.btn-c-primary-outline:hover{
    background-color: #FE775A;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    transition: all ease-in-out 0.1s;
}